# This creates a symlink at / to simulate having a `/srv` directory on
# macOS systems so that they can more closely resemble a Linux system
# with a more complete Filesystem Hierarchy Standard directory tree.
#
# {{ ansible_managed }}
srv	Users/Shared/srv
